    @import"normalize";
    @import"variables";
    @import "tools";
    @import "merkliste";
    @import url("https://use.typekit.net/aqh7vkv.css");
    @import url("https://use.typekit.net/azu3uvx.css");
    // $background: map-get($colors, colorA);
    $background: rgb(255, 255, 251);
    $font_primary: map-get($colors, colorB);
    $font_menu_inverted: #4e3b3b;
    $font_menu_regular: #B1C4C4;
    $font_menu: $font_menu_regular;

    //   Neue Haas Grotesk Display Pro 45 Light
    //  font-family: neue-haas-grotesk-display, sans-serif;
    //  font-weight: 400;
    //  font-style: normal;
    //  font-family: aktiv-grotesk, sans-serif;
    // font-weight: 300;
    // font-style: normal;
    //testing
    :root {
      --hue: 220;
      --sat: 100;
      --light: 81;
    }

    input {
      border: none;
      background-image: none;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

    .something {
      opacity: -2;
      /* resolves to 0, transparent */
      opacity: -1;
      /* resolves to 0, transparent */
      opacity: 2;
      /*resolves to 1, fully opaque */
      opacity: 100;
      /* resolves to 1, fully opaque */
    }

    * {
      margin: 0;
      padding: 0;
      line-height: 1;
    }

    p,
    a,
    li {
      color: $font_primary;
      font-family: aktiv-grotesk, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 0.80rem;
      line-height: 1.5;
      font-display: swap;
      text-decoration: none;
      list-style: x none;

      strong {
        font-weight: 500;
        font-style: normal;
      }

      // text-shadow: 0 1px 0 rgba(23, 31, 35, 0.5);
      // border-radius: 3px;
    }

    ul {
      list-style: none;
      list-style-type: none;
      /* Remove bullets */
      padding: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: aktiv-grotesk, sans-serif;
      font-weight: 500;
      font-style: normal;
      text-decoration: none;
      font-display: swap;
    }

    *,
    *:after,
    *:before {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    a {
      color: currentColor;
    }

    a.active {
      transition: font-style 1s ease;
      font-style: italic;
    }

    html {
      min-height: 100%;
      font-family: sans-serif;
    }

    // @media (min-width: 600px) {
    body,
    html {
      touch-action: manipulation;
      height: 100%;
      width: auto;
      margin: 0;
      padding: 0;
      margin: 0;
      overscroll-behavior: none;

      &.color_fix {}
    }

    // }
    .blanket {
      display: block;
      position: fixed;
      height: 100vh;
      width: 100vw;
      background: white;
      z-index: 10;

      &.show {
        visibility: visible;
        opacity: 1;
      }

      &.hide {
        display: none;
        animation: fadeout 10.5s;
        -moz-animation: fadeout 10.5s;
        /* Firefox */
        -webkit-animation: fadeout 10.5s;
        /* Safari and Chrome */
        -o-animation: fadeout 0.5s;
        /* Opera */
      }
    }

    .overflow-y-hidden {
      overflow-y: hidden
    }

    .overflow-x-hidden {
      overflow-x: hidden
    }

    header {
      .menu {
        display: flex;
      }

      .header-wrapper {
        position: fixed;
        height: 20px;
        margin: auto;
        z-index: 1;
        width: 100%;
        mix-blend-mode: difference; //hard-light; //luminosity; //;

        //mix-blend-mode: luminosity; //;
        nav {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          margin-left: 1px;
          height: fit-content;
          display: flex;

          svg {
            display: block;
            height: 15px;
            max-height: 100%;
            width: auto;
            margin: auto 3px;

            .st0 {
              fill: $font_menu;
              stroke: $font_menu;
              stroke-width: 0.2;

              &.inverted_color {
                fill: $font_menu_inverted;
                stroke: $font_menu_inverted;
              }
            }

            path {
              vector-effect: non-scaling-stroke;
            }
          }

          a:after {
            content: "\002C";
          }

          a:last-child:after {
            content: "";
          }

          a {
            margin-right: 0.15rem;
            @include set-fontsize(s);
            color: $font_menu;

            &.inverted_color {
              color: $font_menu_inverted !important;
            }

            //color: #4e3b3b;
          }

          a.active {
            font-style: italic;
          }

          //b2c4c4
          // img {
          //   width: auto;
          //   max-height: 2rem;
          // }
        }

        .menu-list {
          width: auto;
          position: absolute;
          right: 1%;
          top: 50%;
          transform: translateY(-50%);
          height: auto;

          a {
            @include set-fontsize(s);
            //color: #B1C4C4;
            color: $font_menu;
          }
        }
      }
    }

    @keyframes fadeout {
      from {
        opacity: 1;
      }

      to {
        opacity: 0;
      }
    }

    @-moz-keyframes fadeout {
      from {
        opacity: 1;
      }

      to {
        opacity: 0;
      }
    }

    @-webkit-keyframes fadeout {
      from {
        opacity: 1;
      }

      to {
        opacity: 0;
      }
    }

    @-o-keyframes fadeout {
      from {
        opacity: 1;
      }

      to {
        opacity: 0;
      }
    }

    @keyframes fadein {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    @-moz-keyframes fadein {

      /* Firefox */
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    @-webkit-keyframes fadein {

      /* Safari and Chrome */
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    @-o-keyframes fadein {

      /* Opera */
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    figure {
      width: 100%;
    }

    // img[data-sizes="auto"] {
    //   max-width: 100%;
    //   height: auto;
    // }
    .lazysrcset-ratio {
      position: relative;
    }

    .lazysrcset-ratio>img {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    .lazysrcset-ratio>img:after {
      display: block;
      width: 100%;
      height: 0;
      content: "";
    }

    .lazyload,
    .lazyloading {
      opacity: 0;
    }

    .lazyloaded {
      opacity: 1;
      transition: opacity 300ms;
    }

    img.lazyload:not([src]) {
      visibility: hidden;
    }

    .ratio-container {
      position: relative;
    }

    .ratio-container:after {
      content: '';
      display: block;
      height: 0;
      width: 100%;
      /* 16:9 = 56.25% = calc(9 / 16 * 100%) */
      padding-bottom: 56.25%;
      content: "";
    }

    .ratio-container>* {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    /* unknown ration variation */
    unknown-ratio-container>* {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }

    .center-v {
      position: absolute;
      top: 40%;
      transform: translateY(-50%);
    }

    .center-h {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    footer {
      bottom: 0;
      width: 100%;
      display: block;
      visibility: visible;
      height: 5vh;
    }

    .helper {
      position: fixed;
      top: 0;
      display: block;
      height: 50px;
      width: 100%;
    }

    body {
      .landscapemode {
        display: none;

        .start-text {}
      }
    }

    main .glossar {
      display: block;
      position: fixed;
      overflow-y: scroll;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      .wrapper {
        position: absolute;
        top: 2.5rem;
        margin: 0 10px;
        -webkit-columns: 4 150px;
        -moz-columns: 4 150px;
        columns: 4 150px;
        -webkit-column-gap: 1em;
        -moz-column-gap: 1em;
        column-gap: 1em;

        p {
          text-align: justify;
        }
      }
    }

    main .content {
      display: block;
      height: 90vh;
    }

    main .about {
      display: block;
      position: fixed;
      overflow-y: scroll;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      .wrapper {
        position: absolute;
        top: 1rem;
        margin: 0 10px;

        //@debug: translateY(-50%);
        .grid {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
          column-gap: 0.5rem;

          .item {
            position: relative;
            padding: 0em;
            margin-bottom: 1rem;

            img {
              width: 100%;
              height: auto;
            }

            .text {
              margin-top: 1.5rem;

              h2 {
                // color: rgba(125, 125, 125, 1);
                // @include set-fontsize(sm);
              }

              li {
                list-style: none;
              }

              a,
              p {
                margin: 0;

                strong {
                  //font-family: neue-haas-grotesk-display, sans-serif;
                }

                white-space: pre-wrap;
                /* CSS3 */
                white-space: -moz-pre-wrap;
                // /* Firefox */
                white-space: -pre-wrap;
                //  Opera <7 
                white-space: -o-pre-wrap;
                // /* Opera 7 */
                word-wrap: break-word;
                /* IE */
                @include set-fontsize(sm);
              }
            }
          }
        }
      }
    }

    main .content {
      display: block;

      .index {
        width: 100vw;
        height: 100vw;
        display: none;
        margin: 0 auto;

        &.show {
          //visibility: visible;
          display: block;
          animation: fadein 1.5s;
          -moz-animation: fadein 1.5s;
          /* Firefox */
          -webkit-animation: fadein 1.5s;
          /* Safari and Chrome */
          -o-animation: fadein 1.5s;
          /* Opera */
        }

        //background-color: red;
        .grid {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
          column-gap: 0.1rem;

          .item {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
              @include set-fontsize(xxs);
              display: block;
              position: absolute;
              bottom: -0.5rem;
              left: 1.5rem;
            }

            .container {
              margin: 1.5rem;
              background: grey;

              img {
                display: block;
                max-width: 100%;
                max-height: 100%;
              }
            }
          }
        }
      }

      .app {
        width: 100%;
        margin: 0 auto;
        display: none;

        &.show {
          //visibility: visible;
          display: block;
          animation: fadein 10.5s;
          -moz-animation: fadein 1.5s;
          /* Firefox */
          -webkit-animation: fadein 1.5s;
          /* Safari and Chrome */
          -o-animation: fadein 1.5s;
          /* Opera */
        }

        ul {
          padding-bottom: 30px;

          li.start-item {
            height: 100vh;
            margin-bottom: 5rem;

            .start-wrapper {
              display: block;
              width: 100%;
              height: 100vh;
              position: relative;

              .start-text {
                z-index: 10;
                width: auto;
                max-width: 100%;
                position: absolute;
                top: 45%;
                transform: translateY(-50%);
                left: 50%;
                transform: translateX(-50%);
                height: 20px;

                p {
                  white-space: break-all !important;
                  /* be sure its not 'nowrap'! ! ! :/ */
                  color: B1C4C4;
                  @include set-fontsize(md);
                  margin: 0;

                  svg {
                    margin-left: 5px;
                    margin-right: 5px;
                    height: 1.5rem;
                    width: auto
                  }
                }
              }

              img {
                filter: brightness(50%);
                height: 100vh;
                width: 100%;
                object-fit: cover;
              }
            }
          }

          li {
            margin-bottom: 2rem;

            .wrapper {
              img {
                display: block;
                //max-width: 700px;
                width: 100%;
                height: auto;
                margin: 0 auto;

                &.product {
                  margin: 0;
                  padding: 0;
                  border-width: 3.75rem;
                  border-color: transparent;
                  border-style: solid;
                }
              }

              .description {
                display: block;
                width: 97.5%;
                margin: 10px auto;

                &.enlarge {
                  p {
                    @include set-fontsize(sm);
                  }
                }

                p {
                  white-space: normal;
                  /* CSS3 */
                  white-space: -moz-pre-wrap;
                  // /* Firefox */
                  white-space: -pre-wrap;
                  //  Opera <7 
                  white-space: -o-pre-wrap;
                  // /* Opera 7 */
                  word-wrap: break-word;
                  @include set-fontsize(xs);

                  .orderItems {
                    a {
                      margin-left: .25rem;
                      font-size: 0.75rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    footer {
      display: block;
      position: relative;
    }

    @include respond-above(xs) {
      body {
        main .content {
          .index {
            .grid {
              grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));

              .item {
                p {
                  @include set-fontsize(xxs);
                  bottom: 0;
                  left: 2.1rem;
                }

                .container {
                  margin: 2.1rem;

                  img {}
                }
              }
            }
          }
        }
      }
    }

    @include respond-above(s) {
      body {
        header {
          .header-wrapper {
            nav {
              svg {
                height: 18px;
                margin: auto 3px;
              }

              a {
                @include set-fontsize(md);
              }
            }

            .menu-list {
              a {
                @include set-fontsize(md);
              }
            }
          }
        }

        main .content {
          .index {
            .grid {
              grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));

              .item {
                p {
                  @include set-fontsize(xxs);
                  bottom: 0;
                  left: 2.1rem;
                }

                .container {
                  margin: 2.1rem;

                  img {}
                }
              }
            }
          }
        }
      }
    }

    @include respond-above(sm) {
      body {
        header {
          .header-wrapper {
            nav {
              a {
                @include set-fontsize(md);
              }
            }

            .menu-list {
              a {
                @include set-fontsize(md);
              }
            }
          }
        }
      }

      main .about {
        .wrapper {
          .grid {
            .item {
              img {
                width: 100%;
                height: auto;
              }
            }
          }
        }
      }

      main .content {
        position: absolute;
        height: 100%;

        .index {
          .grid {
            grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
          }
        }

        .app {
          position: absolute;
          top: 0;
          margin: 0;
          padding: 0;
          height: 100%;

          ul {
            width: 100vw;
            display: flex;
            height: 100%;
            align-items: center;
            position: relative;
            padding: 0;

            &.work {
              margin-left: 2.6rem;
            }

            // overflow: auto;
            li.start-item {
              height: 100%;
              margin-bottom: 0rem;
              margin-right: 5rem;

              .start-wrapper {
                .start-text {
                  display: block;
                  max-width: 76%;
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  left: 50%;
                  transform: translateX(-50%);

                  p {
                    color: B1C4C4;
                    @include set-fontsize(lg);
                    /*  */
                    word-wrap: break-word;
                    /* if you want to cut the complete word */
                    white-space: normal;
                    /* be sure its not 'nowrap'! ! ! :/ */
                  }
                }

                img {
                  height: 100%;
                  width: auto;
                  margin: 0;
                  padding: 0;
                }
              }
            }

            li {
              position: relative;
              height: 100%;
              display: inline-block;
              width: auto;
              margin: -2.5px;

              .wrapper {
                display: inline-block;
                height: 100%;

                img {
                  display: block;
                  width: auto;
                  height: 95vh;

                  &.product {
                    margin: 0;
                    padding: 0;
                    border-width: 6.75rem;
                  }
                }

                .description {
                  display: block;
                  top: 95.2vh;
                  left: 0.2rem;
                  position: absolute;
                  height: auto;
                  padding: 0;
                  width: 95%;

                  &.textnotvisible {}

                  p {
                    line-height: 1rem;
                    //font-size: 2rem;
                    @include set-fontsize(sm);
                    word-wrap: break-word;
                    /* if you want to cut the complete word */
                    white-space: normal;
                    /* be sure its not 'nowrap'! ! ! :/ */
                  }
                }
              }
            }
          }
        }
      }

      @include respond-below_height(lg) {

        // header {
        //   .header-wrapper {
        //     nav {
        //       a {
        //         margin-right: 0.55rem;
        //         @include set-fontsize(md);
        //         color: B1C4C4;
        //       }
        //     }
        //     .menu-list {}
        //   }
        // }
        main .content {
          .app {
            ul {
              li.start-item {
                .start-wrapper {
                  .start-text {
                    p {
                      @include set-fontsize(sm);
                    }
                  }
                }
              }

              li {
                .wrapper {
                  img {
                    height: 93vh !important;

                    &.product {
                      border-width: 2.5rem;
                    }
                  }

                  .description {
                    top: 93.5vh;

                    p,
                    a,
                    button {
                      line-height: 1.2rem;
                      //font-size: 2rem;
                      @include set-fontsize(sm);
                    }
                  }
                }
              }
            }
          }
        }
      }

      @include respond-below_height(md) {

        // header {
        //   .header-wrapper {
        //     nav {
        //       a {
        //         margin-right: 0.55rem;
        //         @include set-fontsize(md);
        //         color: B1C4C4;
        //       }
        //     }
        //     .menu-list {
        //       a {
        //         @include set-fontsize(md);
        //         color: B1C4C4;
        //       }
        //     }
        //   }
        // }
        main .content {
          .app {
            ul {
              li.start-item {
                .start-wrapper {
                  .start-text {
                    p {
                      @include set-fontsize(sm);
                    }
                  }
                }
              }

              li {
                .wrapper {
                  img {
                    height: 90vh !important;

                    &.product {
                      border-width: 2.5rem;
                    }
                  }

                  .description {
                    top: 90.5vh;

                    p,
                    a,
                    button {
                      line-height: 1.2rem;
                      //font-size: 2rem;
                      @include set-fontsize(s);
                    }
                  }
                }
              }
            }
          }
        }
      }

      @include respond-below_height(sm) {
        main .content {
          .app {
            ul {
              li {
                .wrapper {
                  img {
                    height: 85vh !important;

                    &.product {
                      border-width: 2.5rem;
                    }
                  }

                  .description {
                    top: 85.5vh;

                    p,
                    a,
                    button {
                      line-height: 1.5rem;
                      //font-size: 2rem;
                      @include set-fontsize(xs);
                    }
                  }
                }
              }
            }
          }
        }
      }

      @include respond-below_height(s) {
        main .content {
          .app {
            ul {
              li {
                &.start-item {
                  .start-wrapper {
                    .start-text {
                      p {
                        svg {
                          margin-bottom: -3.5%;
                        }
                      }
                    }
                  }
                }

                .wrapper {
                  img {
                    height: 80vh !important;

                    &.product {
                      border-width: 2.5rem;
                    }
                  }

                  .description {
                    top: 80.5vh;

                    p,
                    a,
                    button {
                      line-height: 1.5rem;
                      //font-size: 2rem;
                      @include set-fontsize(xxs);
                    }
                  }
                }
              }
            }
          }
        }
      }

      @include respond-below_height(xs) {
        .landscapemode {
          visibility: visible;
          animation: fadein 0.7s;
          -moz-animation: fadein 0.7s;
          /* Firefox */
          -webkit-animation: fadein 0.7s;
          /* Safari and Chrome */
          -o-animation: fadein 0.7s;
          /* Opera */
          display: block !important;
          position: fixed !important;
          width: 100%;
          height: 100%;
          background: #424936;
          z-index: 30;

          .start-text {
            max-width: 76%;
            position: absolute;
            top: 45%;
            transform: translateY(-50%);
            left: 50%;
            transform: translateX(-50%);

            p {
              color: white;
            }

            svg {
              width: 3rem;
            }
          }
        }

        main .content {
          display: none;

          .app {
            ul {
              width: 2000vw;

              li {
                .wrapper {
                  img {
                    height: 100vh !important;

                    &.frame {
                      border-width: 1.5rem;
                    }

                    &.product {
                      border-width: 2rem;
                    }
                  }

                  .description {
                    display: none;
                    top: 90.1vh;

                    p {
                      @include set-fontsize(xxs);

                      span {
                        display: none
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
